nav {
    background-color: #fbf7e3;
    margin: 2em;
    border-radius: 6em;
}

ul {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    align-items: center;
    color: brown;
    font-size: 1.5em;
}

li {
    background-color: #f3df85;
    padding: 1em;
    border-radius: 2em;
}

li#bee-logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
    width: 6em;
    justify-content: space-between;
}

li#bee-logo img {
    width: 2em;
}

